@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none; 
  color: white;
}

/* GameScreen */
.container {
  max-width: 400px;
  margin: 100px auto;
  overflow: auto;
  min-height: 750px;
  border: 1px solid #E1E1E1;
  padding: 30px;
  position: relative;
  background-color: #FAFAFA;
}
.game-screen-header {
  position: absolute;
  text-align: center;
  padding: 25px;
  top: 0;
  left:0;
  right:0;
  color: #FAC446;
}
.game-cards-container {
  max-width: 400px;
  margin-top: 130px;  
  margin-bottom: 80px;
  overflow: auto;
  min-height: 400px;
  position: relative;
  color: white;
  background-color: #FAFAFA;
}
.game-card {
  position: relative;
  padding: 25px;
  left:0;
  right:0;
  text-align: center;
}
.card-spacer {
  margin: 30px 0;
}
.higher-or-lower-card {
  background-color: #f56a68;
}
.simon-says-card {
  background-color: #66e6d7;
}
.memory-card {
  background-color: #9742dd;
}
.countdown-letters-card {
  background-color: #FAC446;
}
.game-screen-footer {
  position: absolute;
  text-align: center;
  padding: 5px;
  left:0;
  bottom:0;
  right:0;
  color: #669392;
  background-color: #FFFFFF;
}
.game-screen-footer-column {
  float: left;
  width: 25%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* HigherOrLower */
.higher-or-lower-container {
  max-width: 400px;
  margin: 100px auto;
  overflow: auto;
  min-height: 750px;
  border: 1px solid #E1E1E1;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: #E44643;
}
.higher-or-lower-header {
  position: absolute;
  text-align: center;
  padding: 22px;
  top: 0;
  left:0;
  right:0;
  color: #FFFFFF;
  background-color: #F56A68;
}
.higher-or-lower-score-tracker {
  max-width: 400px;
  min-height: 70px;
  background-color: #FAFAFA;
  margin-top: 90px;
  position: relative;
  color: white;
  background-color: #E44643;
}
.higher-or-lower-card-deck {
  max-width: 300px;
  margin-top: 27px;
  margin-left: 20px;
  overflow: hidden;
  border: 1px solid #E1E1E1;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  background-color: white;
}
.higher-or-lower-score-column {
  float: left;
  width: 33.3%;
  padding: 33px;
  border-bottom: 1px solid #E1E1E1;
}
.higher-or-lower-column_1a {
  height: 10%;
  font-size: 13px;
  margin-top: -33px;
  margin-left: -11px;
  color: white;
  position: absolute;
  font-weight: 500;
}
.higher-or-lower-column_1b {
  height: 10%;
  font-size: 13px;
  margin-top: -33px;
  margin-left: 1px;
  color: white;
  position: absolute;
  font-weight: 500;
}
.higher-or-lower-column_1c {
  height: 10%;
  font-size: 13px;
  margin-top: -33px;
  margin-left: -8px;
  color: white;
  position: absolute;
  font-weight: 500;
}
.higher-or-lower-column_2 {
  height: 10%;
  font-size: 22px;
  margin-top: -12px;
  margin-left: 15px;
  color: white;
  position: absolute;
  font-weight: 1000;
}
.higher-or-lower-column_2b {
  height: 10%;
  font-size: 22px;
  margin-top: -12px;
  margin-left: 5px;
  color: white;
  position: absolute;
  font-weight: 1000;
}
.higher-or-lower-footer {
  position: absolute;
  text-align: center;
  left:0;
  bottom:0;
  right:0;
  color: #669392;
  background-color: #FFFFFF;
}
.higher-or-lower-footer-column {
  float: left;
  width: 50%;
  padding: 10px;
}
.lower-tab {
  color: #F56A68;
  background-color: #FFFFFF;
  padding: 25px;
  border: 0px;
  font-size: 20px;
}
.higher-tab {
  color: #FFFFFF;
  background-color: #F56A68;
  padding: 25px;
  border: 0px;
  font-size: 20px;
}

.top-card-suite {
  margin-top: 10px;
  margin-left: -15px;
  font-size: 50px;
  color: #E44643;
}
.card-number {
  font-size: 160px;
  text-align: center;
  margin-top: 15px;
  color: #343434;
}
.bottom-card-suite {
  margin-top: 25px;
  margin-left: 200px;
  font-size: 50px;
  color: #E44643;
}

.back-arrow {
  float: left;
  width: 10%;
  padding-left: 5px;
  padding-right: 5px;
}
.title {
  float: left;
  width: 90%;
  margin-left: -22px;
}


.modal {
  text-align: center;
}
.modal-title {
  color: #FBC546;
  margin-top: 80px;
  margin-bottom: 20px;
}
.score-indicator {
  color: #E44643;
  font-weight: bolder;
  margin-top: 100px;
  font-size: 22px;
}
.modal-footer-tab {
  position: absolute;
  text-align: center;
  left:0;
  bottom:0;
  right:0;
  color: #669392;
  background-color: #F56A68;
}
.modal-footer-content {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 14px;
}
.modal-footer-button {
  color: #FFFFFF;
  background-color: #F56A68;
  border: 0px;
  padding: 6px;
  width: 100%;
}